 /* declare a variable with `--` syntax */
:root {  
    --dark: #363630;
    --light: #fff;
    --nav-color: #c4641b;
    --hover-color: #a1b6ca
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--dark);
}

/* sets flexbox for header */
header {
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark)
}

.profile-photo {
    width: 160px;
    margin: 10px 20px 0 30px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

/* sets flexbox for nav */
nav ul {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    font-size: 30px;
    margin: 110px 80px 10px 10px;  
}
  
nav a {
    color: var(--nav-color);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

 /*nav hover effects*/
nav a:hover {
    background-color: var(--hover-color);
    box-shadow: inset 0px 0px 8px var(--nav-color), 0 0 15px var(--nav-color);
}

.bg-image {
    background-image: url("../images/background.png");
    height: 350px;
    background-size: cover;
}
  
.bg-text {
    text-align: center;
    position: relative;
    padding-top: 150px;
    color: var(--light);
    font-size: 25px;
    line-height: 3;
}

.bg-image h1 {
    font-size: 30px;
}

.section-layout {
    display: flex;
    margin: 1%;
}
  
/* selects all h2 next .section-layout*/
.section-layout>h2 {
    flex: 0 0 13%;
    margin-top: 1.5rem;
    margin-right: 1rem;
    text-align: right;
    font-size: 30px;
    color: var(--light);
}

/*sets line-height and font size for about me paragraph*/
.section-layout .about-me {
    line-height: 1.5;
    font-size: 20px;
    padding-left: 3.5%;
}

/* use >div to select first div next to class selector,which includes 
   about-me paragraph, 5 projects and contact lists*/
.section-layout>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 0 75%;
    margin-top: 1.5rem;
    padding-left: 1rem;
    border-left: solid 3px var(--nav-color);
    color: var(--light);
    line-height: 1.5;
}


/* sets 100% to get full width*/
.main-project {
  flex: 1 0 100%;
  padding: 1rem; 
}

/* sets 50% to get 2 projects in a row*/
.other-projects {
  flex: 0 1 50%;
  padding: 1rem; 
}

.project-content {
    flex: 0 0 100%;
    padding: 20px;
    position: relative;  
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.project-content img {
    width: 100%;
    height: 100%;
    border: solid 1px var(--nav-color) ;
    box-shadow: inset 0px 0px 8px var(--nav-color), 0 0 15px var(--nav-color);
    object-fit: cover;

}

/* adds image UI */
.project-content img:hover {
  transform: scale(1.05);
  transition: all .3s linear;
 
}


.note {
    width: 120px;
    height: 70px;
    text-align: left;
    background-color: var(--nav-color);
    box-shadow: inset 0px 0px 8px var(--nav-color), 0 0 15px var(--nav-color);
    position: absolute;
    bottom: 15%;
    line-height: 2;
    padding-left: 5px;
}

/* add hover UI*/
.note:hover {
    background-color: var(--hover-color);
}

.contact {
    line-height: 2;
    font-size: 20px; 
}

.contact ul{
  padding-left: 3%;
}

.contact a {
    color:var(--nav-color);
    text-decoration: none;  
}

footer {
  padding: 20px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: var(--light);
  background-color: var(--nav-color);
}

.contact-button {
  background-color: var(--nav-color);
  color: var(--light);
  box-shadow: inset 0px 0px 8px var(--nav-color), 0 0 15px var(--nav-color);
  padding-left: 5px;
  padding-right: 5px; 
}

.contact-button:hover {
  background-color: var(--hover-color);
}

 /* width for ipad and tablets */
 /* make nav in column and move projects in column*/
 /* move all h2 on top of each section, make border line from vertical to horizontal*/
@media screen and (max-width: 920px) {
  nav ul {
    flex-direction: column;
    margin: 10px 100px 10px 10px;
    font-size: 35px;
  }

  header {
    flex-direction: row;
    text-align: center;
    line-height: 1.5;
  }

  .profile-photo {
    width: 220px;
  }

  .section-layout{
    flex-direction: column;
  }

  .section-layout>h2 {
    text-align: center;
 
  }

  .section-layout>div {
    display: block;
    border-top: solid 3px var(--nav-color);
    border-left: none;
  }

  .main-project {
    flex: 1 0 100%;
    margin: 1rem;
  }

  .other-projects {
    flex: 0 1 100%;
    margin: 1rem;
  }
  
}

 /* width for mobile device */
 /* make the whole header in column*/
@media screen and (max-width: 560px) {
    nav ul {
      flex-direction: column;
      margin: 10px;
      font-size: 25px;
    }
    
    header {
      flex-direction: column;
      text-align: center;
      line-height: 1.5;
    }
  
    .profile-photo {
      width: 150px;
    }
}
  